// #mainAssociation footer{
//     transform: translateY(-100px);
// }
#mainAssociation{
    min-height: 83vh;
    overflow-x: hidden;
    footer{
        position: absolute;
    }
}
#mainContainerAssociation{
    #containerModal{
        width: 100%;
        z-index: 180;
        .modal{
            position: relative;
            cursor: default;
            background-color: white;
            height: 200px;
            width: 100px;
            margin: 0 auto;
            .close{
                position: relative;
                color: grey;
                cursor: pointer;
                z-index: 250;
            }
            .close:before,.close:after{
                content:"";
                width: 30px;
                height: 5px;
                background-color: white;
            }
            .close:before {
                transform: rotate(45deg);
            }
            
            .close:after {
                transform: rotate(-45deg);
            }
        }
    }
    div{
        transform: translateY(100px);
        cursor: pointer;
        position: absolute;
        p{
            font-size: 15px;
        }
    }
    #containerMonday{
        border-radius: 50%;
        background-color: #30DE2199;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 10%;
        margin-left: 5%;
        
    }
    #containerTuesday{
        border-radius: 50%;
        background-color: #A9EEA3;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 12%;
        margin-top: 25%;
        margin-left: 15%;
    }
    #containerWednesday{
        border-radius: 50%;
        background-color: #DBF5D9;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 8%;
        margin-left: 38%;
        margin-top: 5%;
        z-index: 10;
        
    }
    #containerThursday{
        border-radius: 50%;
        background-color: #80E977;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 9%;
        margin-top: 32%;
        margin-left: 40%;
        z-index: 100;
    }
    #containerFriday{
        border-radius: 50%;
        background-color: #D1F4CE;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 12%;
        margin-left: 60%;
        z-index: 20;
    }
    #containerWeekEnd{
        border-radius: 50%;
        background-color: #6CE662;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 14%;
        margin-top: 25%;
        margin-left: 55%;
        z-index: 30;
    }
}
@media screen and (min-width:400px){
    #mainContainerAssociation{
        #containerMonday{
            margin-left: 5%;
        }
        #containerTuesday{
            margin-top: 20%;
        }
        #containerWednesday{
            margin-top: 7%;            
        }
        #containerThursday{
            margin-top: 28%;
        }
        #containerFriday{
            margin-left: 58%;
        }
        #containerWeekEnd{
            margin-top: 22%;
            margin-left: 56%;
        }
    }
}

@media screen and (min-width:500px){
    #mainAssociation{
        min-height: 97vh;
    }
    #mainContainerAssociation{
        div{
            p{
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width:700px){
    #mainContainerAssociation{
        div{
            p{
                font-size: 22px;
            }
        }
        #containerMonday{
            margin-left: 5%;
        }
        #containerTuesday{
            margin-top: 18%;
        }
        #containerWednesday{
            margin-top: 7%;
            margin-left: 35%;            
        }
        #containerThursday{
            margin-top: 25%;
        }
        #containerFriday{
            margin-left: 55%;
        }
        #containerWeekEnd{
            margin-top: 22%;
            margin-left: 56%;
        }
    }
}

@media screen and (min-width:700px){
    #mainContainerAssociation{
        div{
            p{
                font-size: 22px;
            }
        }
        #containerMonday{
            padding: 10%;
            margin-left: 5%;
        }
        #containerTuesday{
            margin-top: 18%;
            padding: 12%;
        }
        #containerWednesday{
            margin-top: 7%;
            margin-left: 35%;  
            padding: 8%;
        }
        #containerThursday{
            margin-top: 25%;
            padding: 9%;
        }
        #containerFriday{
            margin-left: 55%;
            padding: 12%;
        }
        #containerWeekEnd{
            margin-top: 22%;
            margin-left: 56%;
            padding: 14%;
        }
    }
}

@media screen and(min-width: 900px){
    #mainContainerAssociation{
        div{
            p{
                font-size: 24px;
            }
        }
        #containerMonday{
            padding: 8%;
            margin-left: 5%;
        }
        #containerTuesday{
            margin-top: 12%;
            padding: 10%;
        }
        #containerWednesday{
            margin-top: 7%;
            margin-left: 35%;  
            padding: 6%;
        }
        #containerThursday{
            margin-top: 20%;
            padding: 7%;
        }
        #containerFriday{
            margin-left: 52%;
            padding: 10%;
        }
        #containerWeekEnd{
            margin-top: 20%;
            margin-left: 52%;
            padding: 12%;
        }
    }
}

@media screen and (min-width: 1300px){
    #mainContainerAssociation{
        div{
            p{
                font-size: 26px;
            }
        }
        #containerMonday{
            padding: 6%;
            margin-left: 20%;
            margin-top: -4%;
        }
        #containerTuesday{
            margin-top: 2%;
            padding: 8%;
            margin-left: 30%;
        }
        #containerWednesday{
            margin-top: -1%;
            margin-left: 45%;  
            padding: 5%;
        }
        #containerThursday{
            margin-top: 9%;
            padding: 6%;
            margin-left: 47%;
        }
        #containerFriday{
            margin-left: 57%;
            padding: 8%;
            margin-top: -2%;
        }
        #containerWeekEnd{
            margin-top: 10%;
            margin-left: 58%;
            padding: 8%;
        }
    }
}